<!doctype html>

<title>Hello from Flask</title>
<!--{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello World!hello Dpens</h1>
{% endif %}>-->
<body>
	<h1>Hello,welcome to this page</h1>
	<!---<form name = "input" action="sign_in.html" method="get">-->
	<div>
		<ul>
			<form method="POST">
				User name:<br>
				<li style="float: left;list-style-type: none;">
					<input type="text" name="username">
				</li>
					<li style="list-style-type: none;">
						{% for message in get_flashed_messages() %}  
        					{{ message }}  
    					{% endfor %} 
    				</li>
				<br><br>
				User password:<br>
				<li style="list-style-type: none;">
					<input type="password" name="psw">
				</li>
				<br><br>
				<li style="list-style-type: none;">
					<input type="submit" name="actions" value="注册">
				</li>
			</form>
		</ul>
    </div>
</body>