.box{
	transition: 2s;
	transform-style: preserve-3d;
	position: relative;
	top: 50px;
	left: 290px;
}
.back, .front{
	width: 945px;
	height: 600px;
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}



.back{
	transform: rotateY(180deg);
}

.container{
	perspective: 1000;
	width: 945px;
	height: 600px;
	top: 50px;
	left: 290px;
}
.head_obj{
	top: 100px;
	left: 350px;
	width: 50px;
	height: 20px;
	position: absolute;
}

a{
	text-decoration: none;
}